
body {
	font-family: 'Merriweather', serif;
  }

.entry-summary{
	font-weight: bold;
}

figcaption{
	font-size: small;
	color: rgb(80, 80, 80);
}

.has-text-align-center{
	text-align: center;
}

.wp-block-image{
	display: block;
	text-align: center;
}

.text-container{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.has-large-font-size{
	font-size: x-large;
}

a:link{
	color:rgb(0, 141, 197);
	text-decoration: none;
}

a:hover{
	color:rgb(0, 84, 117);
	text-decoration: underline;
}

a:visited{
	color:rgb(0, 116, 116);
	text-decoration: none;
}
