
body {
	font-family: 'Merriweather', serif;
  }

.entry-summary{
	font-weight: bold;
}

figcaption{
	font-size: small;
	color: rgb(80, 80, 80);
}

.has-text-align-center{
	text-align: center;
}

.wp-block-image{
	display: block;
	text-align: center;
}

.text-container{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.has-large-font-size{
	font-size: x-large;
}
